.Card {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.3rem;
  padding: 0.6rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  color: #666666;
  background: #fef9fe;
  --color: #0074d9;
  &:hover {
    border-color: var(--color);
    color: var(--color);
    transition: 0.1s;
  }
  &_image {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #eeeeee;
  }
  &_wrap {
    display: flex;
    flex-direction: column;
  }
  &_name {
    font-size: 1.1rem;
    font-weight: var(--fo-medium);
  }
  &_phone {
    margin-top: 0.2rem;
    font-size: 0.9rem;
  }
}
