.LightBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 5rem;
  background-color: rgba(0,0,0,.6);
  &__wrap {
    padding: 3rem 2rem;
    border-radius: .2rem;
    background-color: #ffffff;
  }
}
